body{
  margin: 8em 15em;
  background-image: url('./images/pink.jpg');
  background-repeat: no-repeat;
  color: white;
  font-weight: 600;
}

.container{
  background-color: rgba(195, 93, 232, 0.47);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 25em;
  margin-left: 12em;
  border-radius: 5%;
}
img{
  width: 75px;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 3.5em;
}
.main{
  margin-left: 3em;
  margin-bottom: 1em;
}
.name, .skills {
  padding: 0.5em;
  background-color: white;
  color: rgba(79, 0, 27, 1);
  font-size: 16px;
  border-radius: 20%;
  box-shadow: 2px rgba(79, 0, 27, 1);
  border: none;
  margin-right: 15px;
  font-weight: 600;
}
.footer button{
  margin-right: 12px;
  background-color: white;
  color: rgba(79, 0, 27, 1);
  border: transparent;
  border-radius: 50%;
  padding: 10px;
}
.footer{
  margin-left: 3.5em;
}
.likes{
  margin: 0.5em;
  color: white;
}
@media only screen and (max-width: 375px) {
  body{
    margin: 25%;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    font-size: 12px;
    
    
  }
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgba(37, 114, 69, 0.71);
    width: 100%;
    margin: 0;
  }
  .main{
    margin: 2.5em;
  }
  .main button{
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    color: palevioletred;
  }
  p{
    padding-left: 2em;
  }
  .footer{
    margin-left: 2.5em;
  }
  .footer button{
    color: palevioletred;
  }
  
}